@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "variables";
@import "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    overflow-x: hidden;
}

.navbar {
    padding: 0 10px;
    @include flex(row);
    justify-content: space-between;
    width: 100%;
    height: 85px;
    background: #fff;
    position: relative;
    .left_menus {
        height: 100%;
        @include flex(row);
        .logo {
            margin: 0 15px;
            padding: 0 16px;
            img {
                width: 50px;
            }
        }
        .drop_menu {
            height: 100%;
            margin-right: 85px;
            ul {
                height: 100%;
                list-style-type: none;
                font-size: 18px;
                @include flex(row);
                gap: 5px;
                li {
                    @include flex(row);
                    height: 100%;
                    padding: 0 16px;
                    i {
                        font-size: 15px;
                        transform: scaleY(0.7);
                    }
                    &:hover {
                        a {
                            color: #fff;
                        }
                        background: $primary-color;
                    }
                }
                a {
                    @include flex(row);
                    color: #000;
                    text-decoration: none;
                    font-weight: 500;
                }
            }
        }
    }

    .right_menus {
        margin-right: 10px;
        @include flex(row);
        .icon_menu {
            height: 100%;
            ul {
                height: 100%;
                list-style-type: none;
                @include flex(row);
                li {
                    padding: 8px 12px;
                    a {
                        font-size: 22px;
                        color: #000;
                        text-decoration: none;
                        font-weight: 500;
                        i:hover {
                            color: $primary-color;;
                        }
                    }
                }
            }
        }
    
        .buttons_menu {
            @include flex(row);
            gap: 10px;
            .btn {
                @include flex(row);
                width: max-content;
                border: none;
                font-size: 18px;
                font-weight: 500;
                padding: 2px 18px;
                border-radius: 25px;
                background: transparent;
                &:hover {
                    background: $secondary-color;
                    color: #fff;
                }
                span {
                    padding: 8px 0;
                }
                &.warning {
                    background: $warning-color;
                    &:hover {
                        background: $primary-color;
                        color: #fff;
                    }
                }
                &.success {
                    width: 120px;
                    background: $primary-color;
                    color: #fff;
                    &:hover {
                        background: $secondary-color;
                    }
                }
            }
        }
    }
    .new_tag {
        margin-left: 5px;
        font-size: 10px;
        font-weight: 700;
        padding: 3px 9px !important;
        border-radius: 15px;
        background: #fff;
        border: solid 1px #000;
        color: #000 !important;
    }
}

.search {
    position: relative;
    width: 100%;
    height: 540px;
    background: $body-color;
    padding: 90px 0;
    row-gap: 30px;
    @include flex(column);
    .title {
        font-size: 70px;
        color: #fff;
    }
    .sub_title {
        font-size: 23px;
        color: $warning-color;
        font-weight: 500;
    }
    .searchBtn {
        @include flex(row);
        width: auto;
        height: 50px;
        overflow: hidden;
        position: relative;
        input {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            height: 100%;
            width: 425px;
            padding: 10px 10px 10px 25px;
            border: none;
            outline: none;
            font-size: 18px;
            font-weight: 600;
            &:focus {
                border-bottom-left-radius: 0;
            }
        }
        .logo {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            height: 100%;
            width: 100px;
            padding: 10px;
            background: $primary-color;
            @include flex(row);
            &:hover {
                background: $secondary-color;
            }
            i {
                font-size: 30px;
                color: #fff;
            }
        } 
    }
    .link {
        font-size: 23px;
        font-weight: 600;
        color: #fff;
        &:hover {
            color: $primary-color;
        }
    }
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    height: 50px;
    // background-image: url('imgs/logo.png');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    overflow: hidden;
}

.html, .css {
    @include flex(row);
    justify-content: space-evenly;
    align-items: flex-start;
    background: $third-color;
    transform: translateY(-7px);
    height: 610px;
    padding: 80px 200px;
    .content {
        @include flex(column);
        .title {
            font-size: 100px;
        }
        .subtitle {
            font-size: 19px;
            margin-bottom: 30px
        }
        .buttons {
            @include flex(column);
            row-gap: 25px;
            .btn {
                width: 220px;
                height: 50px;
                border-radius: 25px;
                border: none;
                font-size: 18px;
                font-weight: 500;
                &.learn{
                    background: $primary-color;
                    color: #fff;
                }

                &.video{
                    background: $css-color;
                    position: relative;
                    &::before {
                        position: absolute;
                        font-size: 16px;
                        top: -10px;
                        left: -10%;
                        transform: rotate(-20deg);
                        content: 'New';
                        padding: 6px 16px;
                        background: $warning-color;
                        border-radius: 20px;
                    }
                }

                &.reference{
                    background: $body-color;
                    color: #fff;
                }
            }
        }
    }
    .example {
        @include flex(column);
        align-items: flex-start;
        justify-content: center;
        width: 630px;
        padding: 32px 16px;
        background: #E7E9EB;
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        position: relative;
        h1 {
            font-size: 24px;
            font-weight: 400;
        }
        .example_code {
            width: 100%;
            height: auto;
            background: #fff;
            border-left: solid 5px $primary-color;
            margin: 16px 0;
            padding: 8px 12px;
            pre {
                @include flex(column);
                    align-items: flex-start;
                code {
                    @include flex(column);
                    align-items: flex-start;
                    font-family: 'Inconsolata', monospace;
                    span {
                        font-family: 'Inconsolata', monospace;
                        color: #A52A2A;
                        &.red {
                            color: #ff0000;
                        }
                    }
                }
            }
        }
        .btn {
            padding: 8px 48px;
            font-size: 18px;
            font-weight: 600;
            background: $primary-color;
            color: #fff;
            border: none;
            outline: none;
            border-radius: 25px;
            &:hover {
                background: $secondary-color;
            }
        }
    }
}

.css {
    transform: translateY(-7px);
    background: $css-color;
    height: 530px;
    .example {
        pre {
            border: 1px solid red;
            @include flex(column);
            align-items: flex-start;
            code {
                @include flex(column);
                align-items: flex-start;
                border: 1px solid red;
            }
        }
    }
}
