$primary-color: #04AA6D;
$secondary-color: #059862;
$third-color: #D9EEE1;
$body-color: #282A35;
$warning-color: #FFC0C7;
$css-color: #FFF4A3;
$js-color: #282A35;
$python-color: #F3ECEA;
$sql-color: #96D4D4; 